#!/bin/sh

BACKUP_DIR={{ rethinkdb_backup_dir }}
DBS="{% for db in rethinkdb_backup_dbs %}{{ db }} {% endfor %}"
TABLES="{% for table in rethinkdb_backup_tables %}{{ table }} {% endfor %}"
LOGDIR=/var/log/rethinkdb-backup
mkdir -p $LOGDIR

for db in $DBS; do
  for table in $TABLES; do
    LOGFILE=$LOGDIR/${db}-$(date +"%Y%m%d").log
    FILE="${BACKUP_DIR}/rethinkdb-dump-${db}.${table}.tar.gz"
    UNPACKED_DIR="${BACKUP_DIR}/rethinkdb-dump-${db}.${table}"
    rm -rf $UNPACKED_DIR
    mkdir $UNPACKED_DIR
    rethinkdb dump -f $FILE -e $db.$table > $LOGFILE 2>&1
    tar -xzf $FILE -C $UNPACKED_DIR && rm $FILE
 done 
done
