[Unit]
Description=OpenConnect Client

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash -c "/usr/sbin/openconnect --script /etc/openconnect/vpnc_wrapper.sh --no-cert-check -u {{ openconnect_client_user }} -c /etc/openconnect/user.crt -k /etc/openconnect/user.key --cafile /etc/openconnect/ca.crt {{ openconnect_client_url }} <<< {{ openconnect_client_password }}"