cluster={{postgres_cluster_name}}
node={{postgres_cluster_node}}
node_name={{postgres_cluster_node_name}}
conninfo='host={{ansible_host}} user=repmgr dbname=repmgr password={{postgres_cluster_password}}'
pg_bindir=/usr/lib/postgresql/9.6/bin/
use_replication_slots=1

logfile='/var/log/repmgr/repmgr.log'
loglevel=INFO

failover=automatic
promote_command='repmgr standby promote -f /etc/repmgr.conf --log-to-file'
follow_command='repmgr standby follow -f /etc/repmgr.conf --log-to-file'
