global
	maxconn 100
    tune.ssl.default-dh-param 2048

defaults
	mode http
	timeout connect 5s
	timeout client 5s
	timeout server 5s
	timeout tunnel 4hrs

frontend secure-frontend
	bind *:80
	bind *:443 ssl crt /etc/cert/server.pem
	mode http
	default_backend unsecure-backend

backend unsecure-backend
  redirect scheme https if !{ ssl_fc }
  server local {{ haproxy_backend_host }}:{{ haproxy_backend_port }} check