#!/bin/sh

BACKUP_DIR={{ datomic_backup_dir }}
DBS="{% for db in datomic_backup_dbs %}{{ db }} {% endfor %}"
LOGDIR=/var/log/datomic-backup
mkdir -p $LOGDIR

for db in $DBS; do
  LOGFILE=$LOGDIR/${db}-$(date +"%Y%m%d").log
  URI="datomic:sql://${db}?jdbc:mysql://{{ datomic_mysql_host }}/{{ datomic_mysql_db}}?useSSL=false&user={{ datomic_mysql_user }}&password={{ datomic_mysql_password }}"
  DIR="file:${BACKUP_DIR}/datomic-dump-${db}"
  /opt/datomic-pro-{{ datomic_version }}/bin/datomic backup-db $URI $DIR > $LOGFILE 2>&1
done
