[Unit]
Description = Datomic Pro Console

[Service]
User = datomic
Type = simple
ExecStart = /opt/datomic-pro-{{ datomic_version }}/bin/console -p 8080 {{ datomic_mysql_db }} 'datomic:sql://?jdbc:mysql://{{ datomic_mysql_host }}/{{ datomic_mysql_db}}?useSSL=false&user={{ datomic_mysql_user }}&password={{ datomic_mysql_password }}'
Restart = no
