[Unit]
Description = Datomic Pro Transactor

[Service]
User = datomic
Type = simple
ExecStart = /opt/datomic-pro-{{ datomic_version }}/bin/transactor -Xmx4g -Xms4g /etc/datomic/transactor.conf
Restart = no
