################################################################

protocol=sql
host={{ ansible_eth0.ipv4.address }}
port=4334


################################################################
# See http://docs.datomic.com/storage.html

license-key={{ datomic_license }}



################################################################
# See http://docs.datomic.com/storage.html

sql-url=jdbc:mysql://{{ datomic_mysql_host }}/{{ datomic_mysql_db }}
sql-driver-class=com.mysql.jdbc.Driver
sql-user={{ datomic_mysql_user }}
sql-password={{ datomic_mysql_password }}


################################################################
# See http://docs.datomic.com/capacity.html


# Recommended settings for -Xmx4g production usage.
memory-index-threshold=32m
memory-index-max=512m
object-cache-max=1g

# Recommended settings for -Xmx1g usage, e.g. dev laptops.
#memory-index-threshold=32m
#memory-index-max=256m
#object-cache-max=128m



## OPTIONAL ####################################################


# Set to false to disable SSL between the peers and the transactor.
# Default: true
# encrypt-channel=true

# Data directory is used for dev: and free: storage, and
# as a temporary directory for all storages.
data-dir=/var/lib/datomic

# Transactor will log here, see bin/logback.xml to configure logging
log-dir=/var/log/datomic

# Transactor will write process pid here on startup
pid-file=/var/lib/datomic/transactor.pid



## OPTIONAL ####################################################
# See http://docs.datomic.com/storage.html
# Memcached configuration.

# memcached=host:port,host:port,...
# memcached-username=datomic
# memcached-password=datomic



## OPTIONAL ####################################################
# See http://docs.datomic.com/capacity.html


# Soft limit on the number of concurrent writes to storage.
# Default: 4, Miniumum: 2
# write-concurrency=4

# Soft limit on the number of concurrent reads to storage.
# Default: 2 times write-concurrency, Miniumum: 2
# read-concurrency=8



## OPTIONAL ####################################################
# See http://docs.datomic.com/aws.html
# Optional settings for rotating logs to S3
# (Can be auto-generated by bin/datomic ensure-transactor.)

# aws-s3-log-bucket-id=


## OPTIONAL ####################################################
# See http://docs.datomic.com/ha.html


# # The transactor will write a heartbeat into storage on this interval.
# A standby transactor will take over if it sees the heartbeat go
# unwritten  for 2x this interval. If your transactor load leads to
# long gc pauses, you can increase this number to prevent the standby
# transactor from unnecessarily taking over during a long gc pause.
# Default: 5000, Miniumum: 5000
# heartbeat-interval-msec=5000


