<Server port="8015" shutdown="SHUTDOWN">

    <Service name="Catalina">
        <Connector port="8081" protocol="HTTP/1.1"
                   address="localhost"
                   maxThreads="500" minSpareThreads="20"
                   enableLookups="false" disableUploadTimeout="true"
                   backlog="100"
        />

        <!-- This is the optional AJP connector -->
        <Connector port="8019" protocol="AJP/1.3"/>

        <Engine name="Catalina" defaultHost="localhost">
            <Host name="localhost" appBase="webapps"/>
            <Valve className="org.apache.catalina.valves.RemoteIpValve"
                   remoteIpHeader="x-forwarded-for"
                   protocolHeader="x-forwarded-proto"
                   portHeader="x-forwarded-port"
            />
        </Engine>
    </Service>
</Server>
