CREATE TABLE IF NOT EXISTS `{{ datomic_mysql_db }}`.`datomic_kvs` (
  `id` VARCHAR(640) CHARACTER SET 'ascii' COLLATE 'ascii_bin' NOT NULL,
  `rev` INT,
  `map` TEXT CHARACTER SET 'utf8mb4' COLLATE 'utf8mb4_bin',
  `val` LONGBLOB,
PRIMARY KEY (`id`));