[Unit]
Description = Prometheus Node Exporter

[Service]
User = root
Type = simple
ExecStart = /opt/prometheus/node-exporter/node_exporter-{{prometheus_node_exporter_version}}.linux-amd64/node_exporter