#!/bin/sh

LOGDIR=/var/log/mysql-backup
mkdir -p $LOGDIR
LOGFILE=$LOGDIR/mysqldump-$(date +"%Y%m%d").log

mysqldump --user=backup --password={{ mysql_backup_password }} --add-locks=FALSE --single-transaction --routines -A > {{ mysql_backup_dir }}/mysql-dump.sql 2> $LOGFILE