#!/bin/sh

BACKUP_DIR={{ mysql_backup_dir }}/mysql-hotcopy
LOGDIR=/var/log/mysql-backup
mkdir -p $LOGDIR
LOGFILE=$LOGDIR/xtrabackup-$(date +"%Y%m%d").log

rm -R $BACKUP_DIR
xtrabackup --backup --target-dir=$BACKUP_DIR --user=backup --password={{ mysql_backup_password }} >> $LOGFILE 2>&1
xtrabackup --prepare --target-dir=$BACKUP_DIR >> $LOGFILE 2>&1

